@using System.Diagnostics

@inject NavigationManager Navigator
@rendermode InteractiveServer

<PageTitle>Admin dashboard | WMH</PageTitle>

<h3>
    Hello, @Info.Title @Info.LastName <br>
    Welcome to the admin dashboard
</h3>

<div class="row">
    <button class="btn btn-outline-primary me-2 col-md-3" @onclick="GoToUserCreator">Create new users</button>
    <button class="btn btn-outline-primary col-md-3" @onclick="GoToSubjectCreator">Create new subjects</button>
</div>

@code {
    private AdminInfo Info { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authInfo = await AdminAuthService.GetAuthenticatedUserInfoAsync();
        Debug.Assert(authInfo != null);

        Info = await AdminService.GetAdminInfoAsync(authInfo.UserId);
    }
    
    private void GoToUserCreator()
    {
        Navigator.NavigateTo("/Users/Create");
    }

    private void GoToSubjectCreator()
    {
        Navigator.NavigateTo("/Subjects/Create");
    }

}