@using System.ComponentModel.DataAnnotations
@using System.Diagnostics

@inject NavigationManager Navigator
@rendermode InteractiveServer

<h3>Hello, @Info.Title @Info.LastName</h3>
<button @onclick="OnClick">Create class</button>

@code {
    private AdminInfo Info { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authInfo = await AdminAuthService.GetAuthenticatedUserInfoAsync();
        Debug.Assert(authInfo != null);

        Info = await AdminService.GetAdminInfoAsync(authInfo.UserId);
    }


    private void OnClick()
    {
        Navigator.NavigateTo("Class/Create");
    }

}