@page "/"
@using WheresMyHomework.Web.Components.Teacher.Pages
@using WheresMyHomework.Web.Components.Admin.Pages

@inject NavigationManager Navigator

<PageTitle>Home | WMH</PageTitle>

@if (isStudent)
{
    Navigator.NavigateTo("Homework");
}
else if (isTeacher)
{
    <TeacherDashboard/>
}
else if (isAdmin)
{
    <AdminDashboard/>
}

else
{
    <p>Already have an account? <a href="/Login">Login</a> </p>
    <p>Or <a href="/Join">Sign up</a></p>
}

@code {
    private bool isStudent;
    private bool isTeacher;
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        isStudent = await StudentAuthService.IsAuthenticatedAsync();
        isTeacher = await TeacherAuthService.IsAuthenticatedAsync();
        isAdmin = await AdminAuthService.IsAuthenticatedAsync();
        
    }

}

